In [1]:
import os
import pandas as pd
from pathlib import Path
import numpy as np
import datetime as dt

#### estaciones_ny

In [58]:
dfElectric=pd.read_csv('../Datasets/Dataset_empresa/Electric and Alternative Fuel Charging Stations.csv')

C:\Users\mwmar\AppData\Local\Temp\ipykernel_14480\3627456893.py:1: DtypeWarning: Columns (6,16,20,31,33,36,39,40,41,43,46,52,53,55,57,58,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  dfElectric=pd.read_csv('../Datasets/Dataset_empresa/Electric and Alternative Fuel Charging Stations.csv')

In [59]:
#Filtro por ubicaci√≥n
dfElectric = dfElectric[dfElectric['State'] == 'NY']

In [60]:
# Eliminar filas con valores nulos del DataFrame original
dfElectric.dropna(axis=1, inplace=True)

In [61]:
dfElectric = dfElectric.drop('Updated At', axis=1)

In [62]:
dfElectric.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3409 entries, 7 to 70395
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Fuel Type Code                    3409 non-null   object
 1   Station Name                      3409 non-null   object
 2   Street Address                    3409 non-null   object
 3   City                              3409 non-null   object
 4   State                             3409 non-null   object
 5   ZIP                               3409 non-null   object
 6   Status Code                       3409 non-null   object
 7   Groups With Access Code           3409 non-null   object
 8   Geocode Status                    3409 non-null   object
 9   Latitude                          3409 non-null   float64
 10  Longitude                         3409 non-null   float64
 11  ID                                3409 non-null   int64
 12  Country                           3409 non-null   object
 13  Groups With Access Code (French)  3409 non-null   object
 14  Access Code                       3409 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 426.1+ KB

In [63]:
# Reorganizo las columnas
column_order = ['ID'] + [col for col in dfElectric.columns if col != 'ID']
dfElectric=dfElectric[column_order]

In [64]:
dfElectric.columns.tolist()

['ID',
 'Fuel Type Code',
 'Station Name',
 'Street Address',
 'City',
 'State',
 'ZIP',
 'Status Code',
 'Groups With Access Code',
 'Geocode Status',
 'Latitude',
 'Longitude',
 'Country',
 'Groups With Access Code (French)',
 'Access Code']

In [65]:
# Crear un diccionario de mapeo de nombres de columnas
mapeo_nombres = {
    'ID': 'ID',
    'Fuel Type Code': 'Fuel_Type_Code',
    'Station Name': 'Station_Name',
    'Street Address': 'Street_Address',
    'City': 'City',
    'State': 'State',
    'ZIP': 'ZIP',
    'Status Code': 'Status_Code',
    'Groups With Access Code': 'Groups_With_Access_Code',
    'Geocode Status' : 'Geocode_Status',
    'Latitude': 'Latitude',
    'Longitude': 'Longitude',
    'Country': 'Country',
    'Groups With Access Code (French)': 'Groups_With_Access_Code_French',
    'Access Code': 'Access_Code'
}

# Renombrar las columnas en el DataFrame
dfElectric.rename(columns=mapeo_nombres, inplace=True)

In [66]:
#guardo station_ny
dfElectric.to_csv('Datasets_limpios/Station_NY.csv',index=False)

#### Zona de Taxis

In [58]:
dftaxi_zone=pd.read_csv('../Datasets/Dataset_extraidos/taxi_zones.csv')

In [59]:
dftaxi_zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  263 non-null    int64
 1   OBJECTID    263 non-null    int64
 2   Shape_Leng  263 non-null    float64
 3   Shape_Area  263 non-null    float64
 4   zone        263 non-null    object
 5   LocationID  263 non-null    int64
 6   borough     263 non-null    object
 7   x           263 non-null    float64
 8   y           263 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 18.6+ KB

In [60]:
dftaxi_zone.head()

,Unnamed: 0,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,x,y
0,0,1,0.116357,0.000782,Newark Airport,1,EWR,-74.174000,40.691831
1,1,2,0.433470,0.004866,Jamaica Bay,2,Queens,-73.831299,40.616745
2,2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,-73.847422,40.864474
3,3,4,0.043567,0.000112,Alphabet City,4,Manhattan,-73.976968,40.723752
4,4,5,0.092146,0.000498,Arden Heights,5,Staten Island,-74.188484,40.552659

In [61]:
#transformaciones
columns_to_drop = ['Unnamed: 0', 'OBJECTID']
dftaxi_zone = dftaxi_zone.drop(columns=columns_to_drop)

column_order = ['LocationID'] + [col for col in dftaxi_zone.columns if col != 'LocationID']
dftaxi_zone=dftaxi_zone[column_order]

dftaxi_zone = dftaxi_zone.rename(columns={'y': 'longitude', 'x': 'latitude'})

In [62]:
dftaxi_zone.head(3)

,LocationID,Shape_Leng,Shape_Area,zone,borough,latitude,longitude
0,1,0.116357,0.000782,Newark Airport,EWR,-74.174000,40.691831
1,2,0.433470,0.004866,Jamaica Bay,Queens,-73.831299,40.616745
2,3,0.084341,0.000314,Allerton/Pelham Gardens,Bronx,-73.847422,40.864474

In [64]:
#guardo taxi zona
dftaxi_zone.to_csv('Datasets_limpios/Taxi_zones.csv',index=False)

#### Clima

In [14]:
#cargo el dataset
NYCtiempo=pd.read_csv('../Datasets/Dataset_extraidos/NYCtiempo.csv')

In [15]:
NYCtiempo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31680 entries, 0 to 31679
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   time                 31680 non-null  object
 1   temperature_2m (¬∞C)  31632 non-null  float64
 2   precipitation (mm)   31632 non-null  float64
 3   rain (mm)            31632 non-null  float64
 4   is_day ()            31680 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.2+ MB

In [16]:
# Convertir la columna 'time' a tipo 'datetime'
NYCtiempo['time'] = pd.to_datetime(NYCtiempo['time'])

In [17]:
# creo columnas fecha y hora, elimino time
NYCtiempo['fecha'] = NYCtiempo['time'].dt.date
NYCtiempo['hora'] = NYCtiempo['time'].dt.time
NYCtiempo.drop(columns=['time'], inplace=True)

In [18]:
NYCtiempo = NYCtiempo[['fecha', 'hora'] + [col for col in NYCtiempo.columns if col not in ['fecha', 'hora']]]

# Cambiar el nombre de la columna 'fecha' a 'time'
NYCtiempo.rename(columns={'fecha': 'time'}, inplace=True)

# Cambiar el nombre de la columna 'hora' a 'hours'
NYCtiempo.rename(columns={'hora': 'hours'}, inplace=True)

# Cambiar el nombre de la columna 'temperature_2m (¬∞C)' a 'temperature'
NYCtiempo.rename(columns={'temperature_2m (¬∞C)': 'temperature'}, inplace=True)

In [19]:
NYCtiempo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31680 entries, 0 to 31679
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   time                31680 non-null  object
 1   hours               31680 non-null  object
 2   temperature         31632 non-null  float64
 3   precipitation (mm)  31632 non-null  float64
 4   rain (mm)           31632 non-null  float64
 5   is_day ()           31680 non-null  int64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.5+ MB

In [20]:
# Convertir la columna 'time' a tipo 'datetime'
NYCtiempo['time'] = pd.to_datetime(NYCtiempo['time'])

In [21]:
# Filtrar los registros para excluir el a√±o 2020
NYCtiempo = NYCtiempo[NYCtiempo['time'].dt.year != 2020]

In [22]:

# Eliminar las columnas no deseadas
columns_to_drop = ["precipitation (mm)", "rain (mm)", "is_day ()"]
NYCtiempo = NYCtiempo.drop(columns=columns_to_drop)

In [24]:
NYCtiempo.dropna(inplace = True)

In [25]:
NYCtiempo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22848 entries, 8784 to 31631
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         22848 non-null  datetime64[ns]
 1   hours        22848 non-null  object
 2   temperature  22848 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 714.0+ KB

In [26]:
NYCtiempo.head()

           time     hours  temperature
8784 2021-01-01  00:00:00          3.7
8785 2021-01-01  01:00:00          3.1
8786 2021-01-01  02:00:00          2.6
8787 2021-01-01  03:00:00          1.6
8788 2021-01-01  04:00:00          0.5

In [27]:
#guardo csv
NYCtiempo.to_csv('Datasets_limpios/NYCclima.csv', index=False)

#### calidad del aire

In [70]:
calidad_del_aire = pd.read_csv('../Datasets/Dataset_extraidos/calidad_del_aire.csv')

In [77]:
calidad_del_aire.columns

Index(['Name', 'Measure', 'Measure Info', 'Geo Type Name', 'Geo Join ID',
       'Geo Place Name', 'Time Period', 'Start_Date', 'Data Value'],
      dtype='object')

In [78]:
# cambiar nombres de columnas
nombres_nuevos = {
    'Name': 'Name',
    'Measure': 'Measure',
    'Measure Info': 'Measure_Info',
    'Geo Type Name': 'Geo_Type_Name',
    'Geo Join ID': 'Geo_Join_ID',
    'Geo Place Name': 'Geo_Place_Name',
    'Time Period': 'Time_Period',
    'Start_Date': 'Start_Date',
    'Data Value': 'Data_Value'
}

calidad_del_aire.rename(columns=nombres_nuevos, inplace=True)

In [79]:
calidad_del_aire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            16122 non-null  object
 1   Measure         16122 non-null  object
 2   Measure_Info    16122 non-null  object
 3   Geo_Type_Name   16122 non-null  object
 4   Geo_Join_ID     16122 non-null  int64
 5   Geo_Place_Name  16122 non-null  object
 6   Time_Period     16122 non-null  object
 7   Start_Date      16122 non-null  object
 8   Data_Value      16122 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 1.1+ MB

In [80]:
#guardo csv
calidad_del_aire.to_csv('Datasets_limpios/calidad_del_aire.csv', index=False)

#### vehiculo de combustion

In [121]:
veh_com = pd.read_csv('../Datasets/Dataset_extraidos/vehiculos_combustion_CO2_2023.csv')

In [122]:
veh_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Model(Year)                       823 non-null    int64
 1   Make                              823 non-null    object
 2   Model.1                           823 non-null    object
 3   Vehicle Class                     823 non-null    object
 4   Engine Size(L)                    823 non-null    float64
 5   Cylinders                         823 non-null    float64
 6   Transmission                      823 non-null    object
 7   Fuel(Type)                        823 non-null    float64
 8   Fuel Consumption(City (L/100 km)  823 non-null    float64
 9   CO2 Emissions(g/km)               823 non-null    int64
 10  CO2(Rating)                       823 non-null    int64
 11  Smog(Rating)                      823 non-null    int64
dtypes: float64(4), int64(4), object(4)
memory usage: 77.3+ KB

In [123]:
veh_com.columns

Index(['Model(Year)', 'Make', 'Model.1', 'Vehicle Class', 'Engine Size(L)',
       'Cylinders', 'Transmission', 'Fuel(Type)',
       'Fuel Consumption(City (L/100 km)', 'CO2 Emissions(g/km)',
       'CO2(Rating)', 'Smog(Rating)'],
      dtype='object')

In [124]:
# Crear un diccionario de mapeo de nombres de columnas
mapeo_nombres = {
    'Model(Year)': 'Model_Year',
    'Make': 'Make',
    'Model.1': 'Model_1',
    'Vehicle Class': 'Vehicle_Class',
    'Engine Size(L)': 'Engine_Size',
    'Cylinders': 'Cylinders',
    'Transmission': 'Transmission',
    'Fuel(Type)': 'Fuel_Type',
    'Fuel Consumption(City (L/100 km)': 'Fuel_Consumption_City',
    'CO2 Emissions(g/km)': 'CO2_Emissions',
    'CO2(Rating)': 'CO2_Rating',
    'Smog(Rating)': 'Smog_Rating'
}

# Renombrar las columnas en el DataFrame
veh_com.rename(columns=mapeo_nombres, inplace=True)

In [127]:
veh_com.head()

,Model_Year,Make,Model_1,Vehicle_Class,Engine_Size,Cylinders,Transmission,Fuel_Type,Fuel_Consumption_City,CO2_Emissions,CO2_Rating,Smog_Rating
0,2023,Acura,Integra,Full-size,1.5,4.0,AV7,4.0,7.9,167,6,7
1,2023,Acura,Integra A-SPEC,Full-size,1.5,4.0,AV7,4.0,8.1,172,6,7
2,2023,Acura,Integra A-SPEC,Full-size,1.5,4.0,M6,4.0,8.9,181,6,6
3,2023,Acura,MDX SH-AWD,SUV: Small,3.5,6.0,AS10,6.0,12.6,263,4,5
4,2023,Acura,MDX SH-AWD Type S,SUV: Standard,3.0,6.0,AS10,6.0,13.8,291,4,5

In [129]:
#guardo csv
veh_com.to_csv('Datasets_limpios/veh_com.csv',index=False)

#### contaminacion sonora

In [3]:
conta_sonora = pd.read_csv('../Datasets/Dataset_extraidos/Conta_Sonora.csv')

In [4]:
conta_sonora.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha                434 non-null    object
 1   id_borough           434 non-null    int64
 2   engine_sounds        434 non-null    int64
 3   alert_signal_sounds  434 non-null    int64
 4   total_sounds         434 non-null    int64
 5   borough_name         434 non-null    object
dtypes: int64(4), object(2)
memory usage: 20.5+ KB

In [5]:
conta_sonora.head()

,fecha,id_borough,engine_sounds,alert_signal_sounds,total_sounds,borough_name
0,2016-05-01,1,5,3,8,manhattan
1,2016-05-02,1,9,14,23,manhattan
2,2016-05-03,1,4,3,7,manhattan
3,2016-05-04,1,9,1,10,manhattan
4,2016-05-05,1,4,0,4,manhattan

In [7]:
#exportamos el archivo con la primera transformacion
conta_sonora.to_csv('Datasets_limpios/conta_sonora.csv',index=False)

In [7]:
import pymysql

try:
    # Conectar a MySQL
    connection = pymysql.connect(
        host='127.0.0.1',  # Cambia a 'localhost' si es necesario
        user='root',       # Tu usuario de MySQL
        password='8195',  # Tu contrase√±a de MySQL
        db='proyecto_ny',  # Tu base de datos
        port=3306           # Puerto de MySQL
    )

    # La conexi√≥n se realiz√≥ con √©xito
    print("Conexi√≥n a MySQL exitosa")
    
    # Cierra la conexi√≥n
    connection.close()

except Exception as e:
    # Manejo de errores en caso de que la conexi√≥n falle
    print("Error al conectar a MySQL:", str(e))

Conexi√≥n a MySQL exitosa